@mixin transition ($property: all, $duration: 0.2s, $function: ease-in-out, $delay: 0) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $function;
  transition-delay: $delay;
}
